:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #FFFFFF;
  background-color: #000000;
}

a {
  font-weight: 500;
  color: #FF8C00;
  text-decoration: inherit;
}

a:hover {
  color: #FFA500;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block;
  background-color: #000000;
  color: #FFFFFF;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FF8C00;
  color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #FFA500;
}

button:focus,
button:focus-visible {
  outline: 4px auto rgba(255, 140, 0, 0.5);
}